@media only screen and (max-width: 1000px) {
  .menu-padding {
    padding:0px 10px;
  }
  .left-menu-search {
  width:20%;
  float:left;
  padding:20px 16px;
  }
  .left-menu img {
    max-width:100%;
  }
}
@media only screen and (max-width: 875px) {
  .left-menu-search {
    display:none;
  }
}